* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAASCAYAAABvqT8MAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6OUY3RjQ1NzIyNjUwMTFFMkI5QTBFOTgyNDc5RTM0RTYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6OUY3RjQ1NzMyNjUwMTFFMkI5QTBFOTgyNDc5RTM0RTYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo5RjdGNDU3MDI2NTAxMUUyQjlBMEU5ODI0NzlFMzRFNiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo5RjdGNDU3MTI2NTAxMUUyQjlBMEU5ODI0NzlFMzRFNiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PkJJsqAAAABlSURBVHjaYvz//z8DqYAFxvhPjQQjwzYWBhKBiWTVjAwvkGoaE8l6XgHpDVA+MSkWgEwGORsZMDOQCH6BdD9MByMDFwOJgJlkG0gBo5qGhSZQeGFkECAlWjGS6m8YNYgKAAIMAMHmJgBm/R8lAAAAAElFTkSuQmCC'), auto;
}

body {
    background: #000;
    font-family: 'MS Sans Serif', Tahoma, sans-serif;
    height: 100vh;
    overflow: hidden;
    user-select: none;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}