.desktop {
    background: #008080;
    width: 90%;
    height: 90%;
    max-width: 1200px;
    max-height: 800px;
    position: relative;
    border: 2px solid #c0c0c0;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    box-shadow: inset -2px -2px 0 #808080, inset 2px 2px 0 #dfdfdf;
}

.desktop-icons {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 90px);
    grid-gap: 20px;
}