.desktop-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border: 1px solid transparent;
    width: 80px;
    max-height: 60px; 
}

.desktop-icon:hover {
    background: rgba(0, 0, 139, 0.3);
    border: 1px dotted #ffffff;
}

.desktop-icon:active {
    background: rgba(0, 0, 139, 0.5);
}

.icon-image {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 5px;
    flex-shrink: 0; 
}

.desktop-icon span {
    color: white;
    font-size: 11px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    word-wrap: break-word;
    line-height: 1.2;
    max-height: 32px; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}